/* Coolors Exported Palette - https://coolors.co/776274-e6ccbe-a07178-5a5353-c8cc92 */

/* CSS HEX */
--chinese-violet: #776274ff;
--pale-dogwood: #e6ccbeff;
--mountbatten-pink: #a07178ff;
--davys-gray: #5a5353ff;
--sage: #c8cc92ff;

/* CSS HSL */
--chinese-violet: hsla(309, 10%, 43%, 1);
--pale-dogwood: hsla(21, 44%, 82%, 1);
--mountbatten-pink: hsla(351, 20%, 54%, 1);
--davys-gray: hsla(0, 4%, 34%, 1);
--sage: hsla(64, 36%, 69%, 1);

/* SCSS HEX */
$chinese-violet: #776274ff;
$pale-dogwood: #e6ccbeff;
$mountbatten-pink: #a07178ff;
$davys-gray: #5a5353ff;
$sage: #c8cc92ff;

/* SCSS HSL */
$chinese-violet: hsla(309, 10%, 43%, 1);
$pale-dogwood: hsla(21, 44%, 82%, 1);
$mountbatten-pink: hsla(351, 20%, 54%, 1);
$davys-gray: hsla(0, 4%, 34%, 1);
$sage: hsla(64, 36%, 69%, 1);

/* SCSS RGB */
$chinese-violet: rgba(119, 98, 116, 1);
$pale-dogwood: rgba(230, 204, 190, 1);
$mountbatten-pink: rgba(160, 113, 120, 1);
$davys-gray: rgba(90, 83, 83, 1);
$sage: rgba(200, 204, 146, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #776274ff, #e6ccbeff, #a07178ff, #5a5353ff, #c8cc92ff);
$gradient-right: linear-gradient(90deg, #776274ff, #e6ccbeff, #a07178ff, #5a5353ff, #c8cc92ff);
$gradient-bottom: linear-gradient(180deg, #776274ff, #e6ccbeff, #a07178ff, #5a5353ff, #c8cc92ff);
$gradient-left: linear-gradient(270deg, #776274ff, #e6ccbeff, #a07178ff, #5a5353ff, #c8cc92ff);
$gradient-top-right: linear-gradient(45deg, #776274ff, #e6ccbeff, #a07178ff, #5a5353ff, #c8cc92ff);
$gradient-bottom-right: linear-gradient(135deg, #776274ff, #e6ccbeff, #a07178ff, #5a5353ff, #c8cc92ff);
$gradient-top-left: linear-gradient(225deg, #776274ff, #e6ccbeff, #a07178ff, #5a5353ff, #c8cc92ff);
$gradient-bottom-left: linear-gradient(315deg, #776274ff, #e6ccbeff, #a07178ff, #5a5353ff, #c8cc92ff);
$gradient-radial: radial-gradient(#776274ff, #e6ccbeff, #a07178ff, #5a5353ff, #c8cc92ff);