/* Coolors Exported Palette - https://coolors.co/9f4168-956a77-594547-352228-211c1b */

/* CSS HEX */
--magenta-haze: #9f4168ff;
--mountbatten-pink: #956a77ff;
--rose-ebony: #594547ff;
--raisin-black: #352228ff;
--raisin-black-2: #211c1bff;

/* CSS HSL */
--magenta-haze: hsla(335, 42%, 44%, 1);
--mountbatten-pink: hsla(342, 17%, 50%, 1);
--rose-ebony: hsla(354, 13%, 31%, 1);
--raisin-black: hsla(341, 22%, 17%, 1);
--raisin-black-2: hsla(10, 10%, 12%, 1);

/* SCSS HEX */
$magenta-haze: #9f4168ff;
$mountbatten-pink: #956a77ff;
$rose-ebony: #594547ff;
$raisin-black: #352228ff;
$raisin-black-2: #211c1bff;

/* SCSS HSL */
$magenta-haze: hsla(335, 42%, 44%, 1);
$mountbatten-pink: hsla(342, 17%, 50%, 1);
$rose-ebony: hsla(354, 13%, 31%, 1);
$raisin-black: hsla(341, 22%, 17%, 1);
$raisin-black-2: hsla(10, 10%, 12%, 1);

/* SCSS RGB */
$magenta-haze: rgba(159, 65, 104, 1);
$mountbatten-pink: rgba(149, 106, 119, 1);
$rose-ebony: rgba(89, 69, 71, 1);
$raisin-black: rgba(53, 34, 40, 1);
$raisin-black-2: rgba(33, 28, 27, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #9f4168ff, #956a77ff, #594547ff, #352228ff, #211c1bff);
$gradient-right: linear-gradient(90deg, #9f4168ff, #956a77ff, #594547ff, #352228ff, #211c1bff);
$gradient-bottom: linear-gradient(180deg, #9f4168ff, #956a77ff, #594547ff, #352228ff, #211c1bff);
$gradient-left: linear-gradient(270deg, #9f4168ff, #956a77ff, #594547ff, #352228ff, #211c1bff);
$gradient-top-right: linear-gradient(45deg, #9f4168ff, #956a77ff, #594547ff, #352228ff, #211c1bff);
$gradient-bottom-right: linear-gradient(135deg, #9f4168ff, #956a77ff, #594547ff, #352228ff, #211c1bff);
$gradient-top-left: linear-gradient(225deg, #9f4168ff, #956a77ff, #594547ff, #352228ff, #211c1bff);
$gradient-bottom-left: linear-gradient(315deg, #9f4168ff, #956a77ff, #594547ff, #352228ff, #211c1bff);
$gradient-radial: radial-gradient(#9f4168ff, #956a77ff, #594547ff, #352228ff, #211c1bff);