/* Coolors Exported Palette - https://coolors.co/c33488-f6f5ac-1b100e-d5b0ac-d1bce3-a6a6a8-2978a0-218380 */

/* CSS HEX */
--red-violet: #c33488ff;
--vanilla: #F6F5ACff;
--licorice: #1b100eff;
--tea-rose-red: #d5b0acff;
--thistle: #d1bce3ff;
--french-gray: #a6a6a8ff;
--cerulean: #2978a0ff;
--teal: #218380ff;

/* CSS HSL */
--red-violet: hsla(325, 58%, 48%, 1);
--vanilla: hsla(59, 80%, 82%, 1);
--licorice: hsla(9, 32%, 8%, 1);
--tea-rose-red: hsla(6, 33%, 75%, 1);
--thistle: hsla(272, 41%, 81%, 1);
--french-gray: hsla(240, 1%, 65%, 1);
--cerulean: hsla(200, 59%, 39%, 1);
--teal: hsla(178, 60%, 32%, 1);

/* SCSS HEX */
$red-violet: #c33488ff;
$vanilla: #F6F5ACff;
$licorice: #1b100eff;
$tea-rose-red: #d5b0acff;
$thistle: #d1bce3ff;
$french-gray: #a6a6a8ff;
$cerulean: #2978a0ff;
$teal: #218380ff;

/* SCSS HSL */
$red-violet: hsla(325, 58%, 48%, 1);
$vanilla: hsla(59, 80%, 82%, 1);
$licorice: hsla(9, 32%, 8%, 1);
$tea-rose-red: hsla(6, 33%, 75%, 1);
$thistle: hsla(272, 41%, 81%, 1);
$french-gray: hsla(240, 1%, 65%, 1);
$cerulean: hsla(200, 59%, 39%, 1);
$teal: hsla(178, 60%, 32%, 1);

/* SCSS RGB */
$red-violet: rgba(195, 52, 136, 1);
$vanilla: rgba(246, 245, 172, 1);
$licorice: rgba(27, 16, 14, 1);
$tea-rose-red: rgba(213, 176, 172, 1);
$thistle: rgba(209, 188, 227, 1);
$french-gray: rgba(166, 166, 168, 1);
$cerulean: rgba(41, 120, 160, 1);
$teal: rgba(33, 131, 128, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #c33488ff, #F6F5ACff, #1b100eff, #d5b0acff, #d1bce3ff, #a6a6a8ff, #2978a0ff, #218380ff);
$gradient-right: linear-gradient(90deg, #c33488ff, #F6F5ACff, #1b100eff, #d5b0acff, #d1bce3ff, #a6a6a8ff, #2978a0ff, #218380ff);
$gradient-bottom: linear-gradient(180deg, #c33488ff, #F6F5ACff, #1b100eff, #d5b0acff, #d1bce3ff, #a6a6a8ff, #2978a0ff, #218380ff);
$gradient-left: linear-gradient(270deg, #c33488ff, #F6F5ACff, #1b100eff, #d5b0acff, #d1bce3ff, #a6a6a8ff, #2978a0ff, #218380ff);
$gradient-top-right: linear-gradient(45deg, #c33488ff, #F6F5ACff, #1b100eff, #d5b0acff, #d1bce3ff, #a6a6a8ff, #2978a0ff, #218380ff);
$gradient-bottom-right: linear-gradient(135deg, #c33488ff, #F6F5ACff, #1b100eff, #d5b0acff, #d1bce3ff, #a6a6a8ff, #2978a0ff, #218380ff);
$gradient-top-left: linear-gradient(225deg, #c33488ff, #F6F5ACff, #1b100eff, #d5b0acff, #d1bce3ff, #a6a6a8ff, #2978a0ff, #218380ff);
$gradient-bottom-left: linear-gradient(315deg, #c33488ff, #F6F5ACff, #1b100eff, #d5b0acff, #d1bce3ff, #a6a6a8ff, #2978a0ff, #218380ff);
$gradient-radial: radial-gradient(#c33488ff, #F6F5ACff, #1b100eff, #d5b0acff, #d1bce3ff, #a6a6a8ff, #2978a0ff, #218380ff);