*,
*::after,
*::before {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

input,
button,
input::placeholder {
    font-family: var(--text-font-family);
    color: inherit;
}

:root {

    /* font-family */
    --heading-font-family: 'Alegreya', serif;
    --text-font-family: 'Montserrat Alternates', sans-serif;
    --tags-font-family: 'Raleway', sans-serif;

    /* font and other sizing */
    --xxl: 5rem;
    --xl: 3rem;
    --l: 1.7rem;
    --m: 1.3rem;
    --s: 1rem;
    --xs: .5rem;
    --xxs: .1rem;
    --clamp: clamp(3rem, 12vw, 5rem);

    /* colors */

    --rose-red: hsla(338, 95%, 41%, 1);
    --dark-purple: rgba(59, 28, 50, 0.973);
    --dark-purple-opaque: rgba(83, 40, 71, 0.619);
    --celadon: hsla(140, 36%, 74%, 1);
    --sunset: hsla(31, 100%, 81%, 1);
    --brown-sugar: hsla(22, 49%, 49%, 1);


    /* borders */
    --border-s: 1px solid black;
    --border-m: 2px solid black;
    --border-l: 3px solid black;
    /* border-radius */
    --radius-xxs: 0.7px;
    --radius-xs: 1.5px;
    --radius-m: 5px;
    --radius-l: 15px;
    --transition: all 200ms ease-in-out;

    /* box-shadows */
    --box-inner: inset 0px 0px 10px 1px rgba(19, 22, 22, 0.728);
    --box-regular: 0px 0px 1px 0.1px rgba(56, 57, 57, 0.559),
        inset 0px 0px 1px 0.1px rgba(38, 38, 38, 0.724);
    --box-title: 6px -6px rgba(137, 137, 137, 0.616);
    --box-info: -1px -1px rgb(0, 0, 0);
    --box-button: 0px 1px 0px 1.1px rgba(0, 0, 0, 0.995);
}

body {
    background: none !important;
    max-width: 100rem;
    margin-inline: auto;
    border: var(--border-m);
    border-radius: var(--radius-xs);

}

.blog-post-1-container {
    /*  background-color: rgba(241, 240, 240, 0.89); */
    border: 2px solid rgba(224, 221, 221, 0.514);
    display: flex;
    flex-direction: column;
    margin: var(--l);
}

#page-title {

    font-family: var(--text-font-family);
    border: 1px solid gray;
    padding: var(--m);
    border-radius: var(--radius-xs);
    box-shadow: var(--box-title);
    width: fit-content;
    align-self: center;
    margin: var(--xl);
}

.title-cover {
    font-size: var(--clamp);
}

*>h1 {

    color: rgba(0, 0, 0, 0.769);
    text-align: center;
    font-family: var(--tags-font-family);
    font-style: normal;
    font-weight: max(700);
    line-height: 5rem;
    margin-inline: auto;
    margin-bottom: var(--xxl);
    padding: var(--m) 0;
    border-bottom: 5px solid gray;
    border-top: 5px solid gray;
    border-style: double;
    /* width: 60rem; */

}



.cover-page {
    display: flex;
    flex-direction: column;
    padding: var(--m) 0;
    margin: 0 10rem;
}

@media (max-width:50em) {
    .cover-page {
        margin: 0;
    }
}

.gallery-container {



    border: 2px solid rgba(224, 221, 221, 0.514);
}

.gallery-image {

    width: 100%;
    border-radius: var(--radius-xs);
}

.cover-text {

    font-family: var(--tags-font-family);
    line-height: 30px;
    font-size: var(--m);
    margin: var(--xl);

}

.closing-credits {
    background-color: rgba(97, 104, 205, 0.799);
    border-radius: var(--xxs);
    border: 1px solid white;

}

.closing-credits-container {
    padding: var(--s);
    color: whitesmoke;
}

p>a {
    padding: var(--s);
    color: rgb(2, 2, 2);
}

.about-the-author {
    background-color: rgba(255, 255, 255, 0.799);
    border-radius: var(--xxs);
    border: var(--border-s);
}