*,
*::after,
*::before {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

input,
button,
input::placeholder {
    font-family: inherit;
    color: inherit;
}

:root {

    /* font-family */
    --heading-font-family: 'Alegreya', serif;
    --text-font-family: 'Montserrat Alternates', sans-serif;
    --tags-font-family: 'Raleway', sans-serif;

    /* sizing */
    --xxl: 5rem;
    --xl: 3rem;
    --l: 1.7rem;
    --m: 1.3rem;
    --s: 1rem;
    --xs: .5rem;
    --xxs: .1rem;




    /* colors */

    --rose-red: hsla(338, 95%, 41%, 1);
    --dark-purple: rgba(59, 28, 50, 0.973);
    --dark-purple-opaque: rgba(83, 40, 71, 0.619);
    --celadon: hsla(140, 36%, 74%, 1);
    --sunset: hsla(31, 100%, 81%, 1);
    --brown-sugar: hsla(22, 49%, 49%, 1);


    /* borders */

    --border-s: 1px solid black;
    --border-m: 2px solid black;
    --border-l: 3px solid black;

    /* border-radius */

    --radius-xxs: 0.7px;
    --radius-xs: 1.5px;
    --radius-m: 5px;
    --radius-l: 15px;
    --transition: all 200ms ease-in-out;

    /* box-shadows */
    --box-inner: inset 0px 0px 10px 1px rgba(19, 22, 22, 0.728);
    --box-regular: 0px 0px 1px 0.1px rgba(56, 57, 57, 0.559),
        inset 0px 0px 1px 0.1px rgba(38, 38, 38, 0.724);
    --box-title: 6px -6px rgba(137, 137, 137, 0.616);
    --box-info: -1px -1px rgb(0, 0, 0);
    --box-button: 0px 1px 0px 1.1px rgba(0, 0, 0, 0.995);
}

body {
    background: none;
    max-width: 100rem;
    margin-inline: auto;
    border: var(--border-m);
    border-radius: var(--radius-xs);

}

.blog-post-1-container {
    display: flex;
    flex-direction: column;
    margin: var(--l);
}


#page-title {

    font-family: var(--text-font-family);
    border: 1px solid gray;
    padding: var(--m);
    border-radius: var(--radius-xs);
    box-shadow: var(--box-title);
    width: fit-content;
    align-self: center;
    margin-top: var(--xxl);
    margin-bottom: var(--m);
}

.title-cover {
    font-size: var(--clamp-title);
}

*>img {
    border-radius: var(--radius-xs);
}

*>h1 {

    color: rgba(0, 0, 0, 0.769);
    text-align: center;
    font-family: var(--tags-font-family);
    font-style: normal;
    font-weight: max(700);
    line-height: 5rem;
    margin-inline: auto;
    padding: var(--m) 0;
    border-top: 5px solid gray;
    border-style: double;
    /* width: 60rem; */

}

.photo-credits {
    margin-bottom: var(--xl);
    padding-top: var(--s);
    font-family: var(--tags-font-family);
    font-weight: 500;
    font-size: larger;
    /*  border-top: 5px solid gray; */
    border-style: double;

}

.cover-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--m) 0;
    margin: 0 10rem;
}




.gallery-image {
    object-fit: contain;
    width: 100%;

}



.cover-main-1,

.cover-main-2 {
    font-family: var(--tags-font-family);
    padding-top: var(--xxl);
    margin: var(--l) 6rem;

}


h2 {
    text-align: center;
    font-size: var(--clamp-heading);
    font-weight: 500;
}

.cover-text {
    text-align: justify;
    font-family: var(--tags-font-family);

    font-size: var(--clamp-text);
    margin: var(--xl) 0;
}

#quotes {
    text-align: center !important;
    line-height: var(--l);
    letter-spacing: var(--xs);
}



.photos-tequila {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.flex-container-gin {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.gin-gallery {

    flex: 1;
}

#flex-text {
    flex: 1;
    text-align: justify;
    font-family: var(--tags-font-family);
    font-size: var(--clamp-text);
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
    padding: var(--xl);

}

.img-gin {
    padding: var(--xxl) 0;
    width: 100%;
}

.img-tequila {
    object-fit: cover;
    width: clamp(50%, 12vw, 100%);
}

.mySlides {
    display: none;
}

.closing-credits {
    margin-bottom: 10rem;
    font-family: var(--tags-font-family);
    background-color: rgba(135, 135, 135, 0.719);
    border-radius: var(--xs);
    border: 1px solid white;

}

.closing-credits-container {
    padding: var(--m);
    font-size: var(--m);
    color: rgba(19, 19, 19, 0.719);
}

*>a {
    padding: var(--xs);
    color: rgb(254, 254, 254);
    transition: var(--transition);
}

*>a:hover {
    color: rgba(105, 57, 141, 0.719);
}

.about-the-author {
    background-color: rgba(130, 117, 139, 0.176);
    border-radius: var(--xxs);
}

.about-author-header {
    display: flex;
    justify-content: space-between;
    padding: var(--m);
    font-size: var(--m);
    background-color: rgba(239, 237, 237, 0.699);
}

.about-author-links {
    padding: 0 !important;
    font-size: var(--s) !important;

}



.tags-container-last {
    align-content: flex-end;
}

.about-author-text {
    background-color: rgb(244, 244, 244);
    padding: var(--m);
    color: rgb(53, 53, 53);
    border: 1px solid rgb(235, 235, 235);
}

@media (max-width:50em) {

    .cover-intro,
    .cover-main-1,
    .cover-main-2 {
        margin: 0;
    }

    .flex-container-gin {
        flex-direction: column;
    }


}

@media (max-width:70em) {

    #flex-text {
        line-height: normal;
        letter-spacing: normal;
    }

}

.previous,
.next {
    font-family: var(--tags-font-family);
    font-size: var(--m);
    color: rgb(255, 255, 255);
    background-color: black;
    padding: var(--s);
    border-radius: var(--radius-m);
}

.next-previous {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
    margin-bottom: var(--xl);
    transition: var(--transition);
}

.previous:hover,
.next:hover {
    background-color: rgb(209, 209, 209);
    border: 2px solid rgba(105, 57, 141, 0.719);

}