 /* Left header disappearing */

 @media screen and (max-width: 1124px) {
     .header-left {
         display: none;
     }
 }

 /* HEADER STYLING */
 .header {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: end;
     border: 2px solid rgba(235, 235, 235, 0.881);
     border-bottom-style: double;
     background-color: rgba(249, 248, 248, 0.895);

 }

 .header-left {
     flex: 1;
     padding-top: var(--s);
     padding-bottom: var(--xs);
 }

 .header-middle {
     flex: 1;
     border-left: 2px solid rgba(235, 235, 235, 0.881);
     border-right: 2px solid rgba(235, 235, 235, 0.881);
 }

 .header-right {
     flex: 1;
     padding-bottom: var(--xs);
     padding-top: 1.6rem;

 }

 .header-left,
 .header-middle,
 .header-right {

     margin: 0.1rem;

 }


 .categories {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     padding-bottom: var(--l);

 }

 #sn-icons {
     text-decoration: none;
     color: black;
 }

 #glass-icons {
     width: 80px;
 }

 #glass-icons:hover,
 #sn-icons:hover {
     opacity: 0.4;

 }

 .icons {
     display: flex;
     gap: var(--l);
     justify-content: center;
     max-width: clamp(600px, 50%, 900px);
 }

 .blog-name-left,
 .blog-name-right {

     writing-mode: vertical-lr;
     justify-content: center;
     font-family: var(--text-font-family);
     letter-spacing: 2px;
     display: flex;
     color: var(--dark-purple);
     font-size: 120%;
     margin-bottom: var(--xs);
     text-shadow: 0px 5px 3px rgba(128, 128, 128, 0.575);

 }


 .logo {
     display: flex;
     justify-content: center;

 }


 .photo {

     max-width: 12rem;
 }


 .empty {
     flex: 1;

 }

 .text {
     font-family: var(--tags-font-family);
     border-bottom: 3px solid rgb(88, 88, 88);
     border-style: double;
     font-weight: 400;
     font-size: var(--xl);
     text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: var(--s) 25rem;
     padding: var(--xs);
     color: rgb(63, 63, 63);

 }

 @media (max-width:70em) {
     .text {
         margin: var(--xs) var(--l);
     }
 }

 .heading-container {
     display: flex;
     margin-bottom: var(--xl);
     margin-top: var(--l);

 }



 /* SHAKER ANIMATION (save just in case)  */

 /*.photo{ aspect-ratio: 1/1; */
 /*  animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.01, 0, 0, 0.01);
} */

 /*.photo {
    animation-name: shake;
}

@keyframes shake {

      from {
        transform: translateX(0px)translateY(0px);
    }

    50% {
        transform: translateX(20px) translateY(20px)
    }

    to {
        transform: translateX(0px) translateY(0px);
    } 
0% {
    transform: translateX(0px)translateY(0px);
}

5%,
25% {
    transform: translateX(20px) translateY(20px)
}

15%,
35% {
    transform: translateX(0px) translateY(0px);
}

40% {
    transform: none;
}

}*/