*,
*::after,
*::before {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
input::placeholder {
    font-family: inherit;
    color: inherit;
}

:root {

    /* font-family */
    --heading-font-family: 'Alegreya', serif;
    --text-font-family: 'Montserrat Alternates', sans-serif;
    --tags-font-family: 'Raleway', sans-serif;

    /* font and other sizing */

    --xl: 3rem;
    --l: 1.7rem;
    --m: 1.3rem;
    --s: 1rem;
    --xs: .5rem;

    /* colors */

    --rose-red: hsla(338, 95%, 41%, 1);
    --dark-purple: rgba(59, 28, 50, 0.973);
    --dark-purple-opaque: rgba(83, 40, 71, 0.619);
    --celadon: hsla(140, 36%, 74%, 1);
    --sunset: hsla(31, 100%, 81%, 1);
    --brown-sugar: hsla(22, 49%, 49%, 1);


    /* borders */
    --border-ss: 2px solid var(--dark-purple);
    --border-m: 3px solid black;
    --border-l: 4px solid rgba(40, 39, 39, 0.747);
    /* border-radius */

    --radius-xs: 1.5px;
    --radius-xxs: 0.7px;
    --radius-m: 5px;
    --radius-l: 15px;
    --transition: all 150ms ease-in-out;

    /* box-shadows */
    --box-line: inset 0px 10px 35px 0px rgba(234, 119, 184, 0.648), inset 0px 2px 10px 1px rgb(223, 24, 91);
    --box-inner: 0px 0px 10px 1px rgba(19, 22, 22, 0.728);
    --box-reg: 0px 3px 6px rgba(128, 128, 128, 0.614), 0px 1.5px 3px rgba(63, 63, 63, 0.838);
    --box-title: 3px -3px rgba(0, 0, 0, 0.995);
    --box-info: -1px -1px rgb(0, 0, 0);
    --box-button: 0px 1px 0px 1.1px rgba(0, 0, 0, 0.995);

}

.sidebar-container {
    display: flex;
    flex-direction: column;
    background-image: url(customized/tentacle-flipped-bottom.png);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 180%;
    background-position: bottom;
    /* background-size: cover; */
    background-blend-mode: overlay;
    font-family: var(--tags-font-family);
    color: black;
    font-weight: 400;
    font-size: var(--s);
    box-shadow: var(--box-title);
    border-radius: var(--radius-xs);
    /* background-color: rgb(189, 206, 255); */
    background-color: rgba(255, 255, 255, 0.801);
    border: var(--border-ss);
    padding: var(--xl);
    margin-bottom: 2.5rem;


}

/* #sidebar-background
    {
    background-image: url(customized/cutout-2.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: hard-light;
    background-color: rgb(109, 164, 209);
}
 */

.articles-container,
.tags-container {
    background-color: rgb(255, 255, 255);
}

.sidebar-container>* {
    padding: var(--m);
}

.articles-container {
    border: var(--border-ss);
}

.articles-container>* {

    font-size: var(--m);
    list-style-type: none;
    text-align: center;


}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: var(--border-ss);
    padding: var(--s);
    border-radius: var(--radius-xs);
}

#archive-tags,
#tag {

    text-decoration: none;
    font-family: var(--tags-font-family);
    font-size: var(--s);
    padding: var(--s);
    color: black;

}

#archive-tags:hover,
#tag:hover {
    opacity: 0.5;
}

.sidebar-container>h1 {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: var(--border-ss);
    padding-bottom: -1px;
    font-weight: 500;
    margin-top: var(--m);

}

.search-form {
    display: flex;
    flex-direction: row;
}

#search-input {
    flex: auto;
    /* width: clamp(10rem, 15rem, 15rem); */
    border: var(--border-ss);
    padding: var(--xs);
    border-radius: var(--radius-xxs);

}

.search-button {
    display: flex;
    border: var(--border-ss);
    padding: var(--xs);
    border-radius: var(--radius-xxs);
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: var(--tags-font-family);
    font-weight: 500;
    font-size: larger;
    margin-left: -1px;


}